html,
body{
  background-position:center;
  margin: auto;
  background-color: black;
  font-family: font ;
}
#zpet{
  margin:auto;
  display:none;
}
#konechry{
  background-color:white;
  width:1000px;
  border: 2px solid red;
  text-align:center;
  margin:auto;
  border-radius: 50px;
  display:none;
}
#tlacitkostart{
  font-size: x-large;
}
#nabidka{
  border: 2 px solid red;
  border-radius: 50px;
}
#nabidka2{
  border: 2 px solid red;
  border-radius: 50px;
}
#nadpis{
  background-color:white;
  width:1000px;
  border: 2px solid red;
  text-align:center;
  margin:auto;
  border-radius: 50px;
}
#nadpis2{
  background-color:white;
  width:1000px;
  border: 2px solid red;
  text-align:center;
  margin:auto;
  border-radius: 50px;
}
#dale{
  margin:auto;
}
#dale2{
  margin:auto;
}

#konec{
  background-color:white;
  width:1000px;
  border: 2px solid red;
  text-align:center;
  margin:auto;
  border-radius: 50px;
  display:none;
}
#info{
  background-color:white;
  width:1000px;
  border: 2px solid red;
  text-align:center;
  margin:auto;
  border-radius: 50px;
  display:none;
}
#konec2{
  background-color:white;
  width:1000px;
  border: 2px solid red;
  text-align:center;
  margin:auto;
  border-radius: 50px;
  display:none;
}
#mezera{
  height:400px;
}
#uvod{
    background-color:white;
    font-size:xx-large;
    height: 200px;
    width: 1000px;
    text-align:center;
    margin:auto;
    border-radius: 50px;
    border: 5px solid red;
  
}
#counter{
  color:white;
  text-align:center;
}
#meat{
  background-image: url("../img/hamsir-export.png");
  height:400px;
  width:390px;
  margin:auto;
  margin-top:300px;
}
#burger{
  margin:auto;
    background-image: url("../img/sporák.png");
    display:none; 
    height:935px;
    width:1050px;
    color:white;
    text-align:center;


}
#burger2{
  margin:auto;
    background-image: url("../img/sporák.png");
    display:none; 
    height:935px;
    width:1050px;
}
#meat2{
  background-image: url("../img/hamsir-export.png");
  height:400px;
  width:390px;
  margin:auto;
  margin-top:300px;
}
#tlacitko{
    display:none;
}
#tlacitkostart{
    text-align:center;
    margin-top:300px;
}
#vareni{
    display: none;
    margin:auto;
    text-align: center;
    background-image: url("../img/kuchyne.png");
    height:909px;
}
#place1 {
  cursor: pointer;
  width: 300px;
  height: 46px;
}

#hhouska {
  cursor: pointer;
  width: 300px;
  height: 40px;

}
#place2 {
  cursor: pointer;
  width: 300px;
  height: 46px;
}

#salat {
  cursor: pointer;
  width: 300px;
  height: 40px;
}

#place3 {
  cursor: pointer;
  width: 300px;
  height: 46px;
}

#rajce {
  cursor: pointer;
  width: 300px;
  height: 40px;

}
#place4 {
  cursor: pointer;
  width: 300px;
  height: 46px;
}

#maso {
  cursor: pointer;
  width: 300px;
  height: 40px;

}
#place5 {
  cursor: pointer;
  width: 300px;
  height: 46px;
}

#shouska {
  cursor: pointer;
  width: 300px;
  height: 40px;

}
  #vareni2{
    display: none;
    margin:auto;
    text-align: center;
    background-image: url("../img/kuchyne.png");
    height:909px;
  }
  #place6 {
    cursor: pointer;
    width: 300px;
    height: 46px;
  }
  
  #hhouska1 {
    cursor: pointer;
    width: 300px;
    height: 40px;

  }

  #place7 {
    cursor: pointer;
    width: 300px;
    height: 46px;
  }
  
  #salat1 {
    cursor: pointer;
    width: 300px;
    height: 40px;
  }
  #salat2 {
    cursor: pointer;
    width: 300px;
    height: 40px;
  }

  #place8 {
    cursor: pointer;
    width: 300px;
    height: 46px;
  }
  
  #rajce1 {
    cursor: pointer;
    width: 300px;
    height: 40px;

  }
  #place9 {
    cursor: pointer;
    width: 300px;
    height: 46px;
  }
  
  #maso1 {
    cursor: pointer;
    width: 300px;
    height: 40px;

  }
  #maso2 {
    cursor: pointer;
    width: 300px;
    height: 40px;

  }
  #place10 {
    cursor: pointer;
    width: 300px;
    height: 46px;
  }
  
  #shouska1 {
    cursor: pointer;
    width: 300px;
    height: 40px;

  }
  #shouska2 {
    cursor: pointer;
    width: 300px;
    height: 40px;

  }
  #place11 {
    cursor: pointer;
    width: 300px;
    height: 46px;
  }
  #place12 {
    cursor: pointer;
    width: 300px;
    height: 46px;
  }
  #place13 {
    cursor: pointer;
    width: 300px;
    height: 46px;
  }
  #mezera2{
    height:240px;
  }
  #counter2{
    text-align:center;
    color:white;
  }
  @font-face{font-family: font;
    src: url("../fonts/rush.ttf")}