html,
body{
  height:1080px;
  width:1920px;
  overflow: auto;
  overflow-y: hidden;
  background-position:center;
  background-size: cover;
  margin: auto;

}
#uvod{
    background-image: url("../img/71Qnhy5SJUL.jpg");
    height: 500px;
    width: 1000px;
    text-align:center;
    margin:auto;
}
#counter{
  color:white;
  text-align:center;
}
#meat{
  background-image: url("../img/hamsir-export.png");
  height:450px;
  width:450px;
  margin:auto;
  margin-top:300px;
}
#burger{
    background-image: url("../img/sporák-export.png");
    display:none; 
    height:953px;


}
#tlacitko{
    display:none;
}
#tlacitkostart{
    text-align:center;
    margin-top:300px;
}
#vareni{
    display: none;
    margin:auto;
    text-align: center;
    background-image: url("../img/kuchyne.png");
    height:80%;
    width:100%;
}
#place1 {
    cursor: pointer;
    width: 300px;
    height: 46px;
  }
  
  #hhouska {
    cursor: pointer;
    width: 300px;
    height: 40px;

  }
  #place2 {
    cursor: pointer;
    width: 300px;
    height: 46px;
  }
  
  #salat {
    cursor: pointer;
    width: 300px;
    height: 40px;
  }

  #place3 {
    cursor: pointer;
    width: 300px;
    height: 46px;
  }
  
  #rajce {
    cursor: pointer;
    width: 300px;
    height: 40px;

  }
  #place4 {
    cursor: pointer;
    width: 300px;
    height: 46px;
  }
  
  #maso {
    cursor: pointer;
    width: 300px;
    height: 40px;

  }
  #place5 {
    cursor: pointer;
    width: 300px;
    height: 46px;
  }
  
  #shouska {
    cursor: pointer;
    width: 300px;
    height: 40px;

  }
